@model RecordRoster.Models.Song

@{
    ViewBag.Title = "Add Track";
}

<h2>Add a New Track</h2>

@if (Model.AlbumId !=0) 
{ 
    <a href="@Url.Action("Details", "Album", new { id = Model.AlbumId })" class="btn btn-primary">
        &lt;- Back to Album
    </a>
}

<form method="post" action=""@Url.Action("Add", "Song")>
    <input type="hidden" name="AlbumId" value="@Model.AlbumId" />

    <div class="form-group">
        <label for="trackNumber">Track Number</label>
        <input type="number" id="trackNumber" name="TrackNumber"
               placeholder="Track #" class="form-control" />
    </div>
    <br />

    <div class="form-check">
        <label for="title">Title</label>
        <input type="text" id="title" name="Title" 
               placeholder="Song Title" class="form-control" />
    </div>
    <br />

    <button type="submit" class="btn btn-success">Add Track</button>
</form> 

