@{
    ViewBag.Title = "Add New Album";
}

<h2>Add a New Album</h2>
<a href="@Url.Action("Library", "Album")" class="btn btn-primary">&lt;- Back to Library</a>

<form method="post" action="@Url.Action("Add", "Album")">
    <div class="px-4 pt-5">
        <label for="newTitle">Title</label>
        <input type="text" id="newTitle" name="Title" placeholder="Title" class="form-control">
        <br />
        <label for="newArtist">Artist</label>
        <input type="text" id="newArtist" name="Artist" placeholder="Artist" class="form-control">
        <br />
        <label for="newReleaseYear">Release Year</label>
        <input type="number" id="newReleaseYear" name="ReleaseYear" placeholder="Release Year" class="form-control">
        <br />
        <label for="newCover">Cover Art URL</label>
        <input type="text" id="newCover" name="Cover" placeholder="Cover Art URL" class="form-control">
        <br />
        <button type="submit" id="addAlbumBtn" class="btn btn-success">Add Album</button>
    </div>
</form>